.Rproj.user
.Rhistory
.RData
.Ruserdata
New_York_City_Restaurants.xlsx
Restaurant_Inspection_Open_Data_Dictionary.xlsx
Scrap.Rmd
restaurants_clean.csv
Scrap.nb.html
test_restaurants.csv
Restaurants_projectExcerpt.Rmd
Restaurants_projectExcerpt.pdf
ScrapAgain.Rmd
ScrapAgain.log
ScrapAgain.nb.html
Restaurants.nb.html
