.Rproj.user
.Rhistory
.RData
.Ruserdata
New_York_City_Restaurants.xlsx
Restaurant_Inspection_Open_Data_Dictionary.xlsx
Scrap.Rmd
restaurants_clean.csv
Scrap.nb.html
Restaurants.nb.html
test_restaurants.csv
