.Rproj.user
.Rhistory
.RData
.Ruserdata
New_York_City_Restaurants.xlsx
Restaurant_Inspection_Open_Data_Dictionary.xlsx
Scrap.Rmd
restaurants_clean.csv
Scrap.nb.html
test_restaurants.csv
Restaurants_projectExcerpt.Rmd
Restaurants_projectExcerpt.pdf
ScrapAgain.Rmd
ScrapAgain.log
ScrapAgain.nb.html
Restaurants.nb.html
Scrap.R
21
mehrblabla.R
class_tree_model.rds
lin_reg_model.rds
reg_tree_model.rds
feed_data.csv
training_data_Notebook.rds
Capstone_Final_Report.Rmd
Capstone_Final_Report.nb.html
